.spread-div {
  display: flex;
  max-width: 940px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

h5 {
  color: #02796F;
  font-weight: bold;
  font-size: 14px;
}

a {
  display: block;
  text-decoration: none;
}
