.spread-div {
  display: flex;
  max-width: 940px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.spread-div div {
  margin: 1rem
}

h5 {
  color: #02796F;
  font-weight: bold;
  font-size: 14px;
}

a {
  display: block;
  text-decoration: none;
  margin-block: 1rem;
}

.stores {
  display: flex;
  margin: 0 !important;
}

.stores img {
  width: 95px;
  margin: 5px
}

.stores a {
  margin-block: 0 !important;
}

.banner {
  background-color: #DBDCDC;
  padding: 1rem;
  text-align: center;
}

.privacy {
  color: #4186D9;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 0 !important;
  padding-left: 0;
}
