<div class="container" style="padding: 3rem 0">
  <div class="row">
    <div class="spread-div">
      <div>
        <h5>Company Information</h5>
        <a href="#">Contact Us</a>
        <a href="#">Terms and Conditions</a>
        <a href="#">Privacy Policy</a>
        <a href="#">About Us</a>
      </div>
      <div>
        <h5>Customer Service</h5>
        <a href="#">Shipping & Delivery</a>
        <a href="#">SellersHub Express</a>
        <a href="#">Return Policy</a>
      </div>
      <div>
        <h5>Kaiglo Social</h5>
      </div>
      <div>
        <h5>Make Money With Us</h5>
        <a href="#">Sell On SellersHub</a>
        <a href="#">Become Affiliate Partner</a>
      </div>
      <div>
        <h5>Download our Mobile App</h5>
      </div>
    </div>
  </div>
</div>
