.main-tile {
  background-color: #F8F8F8;
  background-image: url("../../assets/images/hero/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position-x: 63%;
}

#title {
  color: white;
  font-weight: 800;
  letter-spacing: 2px;
}

.a-side {
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 12;
}

h1 {
  font-weight: bold;
  color: white;
  font-size: 3rem;
  word-spacing: -8px;
  line-height: 4rem;
}

p {
  color: white;
  margin-top: -10px;
  font-size: 18px;
}

a {
  display: inline-block;
  width: 200px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-top: 4rem;
  }

  a {
    width: 70%;
    font-size: 1.2rem;
    margin-top: 3rem;
  }
}
