<!--  <div class="col-lg-12">-->
<!--    <div class="hero-bg">-->
<!--      <div>-->
<!--        <div class="col-md-6">-->
<!--          <div class="d-flex">-->
<!--               <h1 id="title">Join the No. 1 <br> Ecommerce <br>Platform in Nigeria</h1>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<div class="main-tile">
  <img src="../../assets/images/hero/hero.png" class="bg-hero" alt="">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-md-6 a-side h-100">
          <h1 id="">Join the No. 1 <br> Ecommerce <br>Platform in Nigeria</h1>
          <p>Start making now, it's easy and free</p>
        <a href="#" class="btn btn-primary rounded-pill fw-bold">BECOME A SELLER</a>
      </div>
    </div>
  </div>
</div>
