.navbar {
  min-height: 88px;
  background-color: #DBDCDC;
}

.navbar-brand {
  font-weight: 500;
  font-size: 20px;
}

.register-btn {
  padding-inline: 1.5rem;
  padding-block: 0.5rem;
  margin-inline: 3.5rem;
}

.nav-link {
  color: #151716;
}

.nav-link:hover {
  color: #02796F;
}

.split-up {
  display: flex;
}

.navbar-brand:hover {
  cursor: pointer;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: space-between;
  }

  .seller-hub {
    display: none
  }
}

@media (max-width: 992px) {
  .split-up {
    display: block;
  }

  .seller-hub {
    display: block
  }

  .navbar-brand {
    margin-top: 1rem;
    display: block;
  }

  .register-btn {
    margin-inline: 0.5rem;
    margin-block: 0.5rem;
  }
}
