.how-card {
  background-color: white;
  border-radius: 12px;
  padding: 42px;
  max-width: 320px;
  min-height: 300px;
  margin: 35px auto;
}

img {
  max-width: 100px;
}

h5 {
  font-weight: bold;
  margin: 1rem;
}

p {
  max-width: 218px;
  margin: 0 auto;
  font-size: 14px;
  color: #727272;
}


