.clipped {
  clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%);
  min-height: 50vh;
  background-color: #F8F8F8;
  padding: 3rem 0;
  text-align: center;
}

h2 {
  font-size: 26px;
  font-weight: 600;
}
