.main {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}

h4 {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 5rem;
}

.main p {
  color: #727272;
}

.bs {
  max-width: 940px;
  margin: 0 auto;
}
