<div class="col main">
  <h4 class="title">Why choose SellersHub</h4>
  <p>SellersHub provides the right platform for sellers to promote their brand and store online, allowing them to have
    personalized interaction with potential buyers.</p>
</div>

<div class="row bs">
  <div class="col-md-4">
    <div class="row card-columns left">
      <div>
        <div class="why-card">
          <div>
            <h5>Market Coverage</h5>
            <p>We understand your need to reach a broader consumer base and make smoother sales and huge profits;
              SellersHub as a platform is here to help.</p>
          </div>
          <img class="img-tiler" src="../../assets/images/why-choose-sellers-hub/market-coverage.svg" alt="">
        </div>
      </div>
      <div>
        <div class="why-card">
          <div>
            <h5>User experience</h5>
            <p>SellersHub provides a user experience that allows even your most loyal customers to still keep in touch
              and purchase from you anywhere they are in Nigeria.</p>
          </div>
          <img class="img-tiler" src="../../assets/images/why-choose-sellers-hub/market-insight.svg" alt="">
        </div>
      </div>
      <div>
        <div class="why-card">
          <div>
            <h5>Easy of transaction</h5>
            <p>On SellersHub, mobile payment is made easy, fast and efficient.</p>
          </div>
          <img class="img-tiler" src="../../assets/images/why-choose-sellers-hub/easy-of-transaction.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 phone-holder">
    <img class="mobile-phone" src="../../assets/images/why-choose-sellers-hub/mobile-home.png" alt="">
  </div>
  <div class="col-md-4">
    <div class="row card-columns">
      <div>
        <div class="why-card">
          <img class="img-tile" src="../../assets/images/why-choose-sellers-hub/brand-rec.svg" alt="">
          <div>
            <h5>Brand recognition</h5>
            <p>Do you yearn for a platform where your brand image can be improved and recognized? The SellersHub
              platform is perfect.</p>
          </div>
        </div>
      </div>
      <div>
        <div class="why-card">
          <img class="img-tile" src="../../assets/images/why-choose-sellers-hub/market-insight.svg" alt="">
          <div>
            <h5>Market insight</h5>
            <p>SellersHub ensures that you can monitor your sales annually to know if you are excelling at a particular
              trade to make better decision.</p>
          </div>
        </div>
      </div>
      <div>
        <div class="why-card">
          <img class="img-tile" src="../../assets/images/why-choose-sellers-hub/efficiency.svg" alt="">
          <div>
            <h5>Efficiency & trustworthy</h5>
            <p>Issue of quality and efficient service delivery is our watch word at SellersHub.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
