/* You can add global styles to this file, and also import other style files */
$primary: #02796F;
$dark: #151716;
$warning: #F5C042;

$container-max-widths: (
  xs: 1270px,
  sm: 1270px,
  md: 1270px,
  lg: 1270px,
  xl: 1270px
);
$font-size-base: 0.875rem;
@import "./node_modules/bootstrap/scss/bootstrap";






html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "./node_modules/swiper/swiper";
@import "node_modules/swiper/modules/pagination/pagination";
@import "node_modules/swiper/modules/autoplay/autoplay";
@import "node_modules/swiper/modules/scrollbar/scrollbar";

.swiper-container {
  width: 100%;
  height: 300px;
  margin: 50px auto;
}

.swiper-slide {
  background: white;
  color: #151716;
}
